.dialog-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
  transition: all 0.6s;
  overflow-y: scroll;
}

.dialog-screen.final {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -35%);
  width: 450px;
  background: #FFF;
  padding: 50px 30px;
  border-radius: 4px;
  opacity: 0.5;
  transition: all 0.6s;
  margin-bottom: 100px;
}

.dialog.final {
  transform: translate(50%, -40%);
  opacity: 1;
}

.dialog .close {
  font-size: 40px;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: -2px;
  right: 5px;
}

form h2 {
  margin-top: 0;
  line-height: 2.5em;
}

form .form-heading {
  padding: 15px 0;
}

form button {
  margin-top: 40px !important;
}

form .form-nav {
  display: flex;
}

form .form-nav * {
  flex: 1;
}

@media only screen and (max-width: 500px) {
  .dialog {
    width: 95%;
    box-sizing: border-box;
  }
}
