@font-face {
  font-family: Italianno;
  font-style: normal;
  font-weight: 400;
  src: url('/Italianno-Regular.otf');
}
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: normal;
  src: url('/Zapfino.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  background: url('/images/');
  background-size: cover;
  position:relative;
  min-height: 100%;
}

html, body, #root, #root > div, #root > div > div {
  height: 100%;
}

.switch-wrapper {
  position: relative;
}
.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.big-button {
  background: #2875f3;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
  margin: 40px 0;
}
